<h1> Login</h1>


<%= form_with(scope: :session, local: true) do |form| %>
 <!--Scope: :session, cria um dicionário , com o valor sendo determinado ao logar-->


<div class="field">
    <%= form.label :email, "E-mail"%>
    <%= form.email_field :email %>
</div>

<div class="field">
    <%= form.label :password, "Senha"%>
    <%= form.password_field :password %>
</div>


<div class="actions">
    <%= form.submit "Entrar"%>
</div>

<% end %>


<%= link_to "Não possui conta? Cadastre-se agora mesmo!", cadastro_path %>